@import "tailwindcss";

:root {
  --background: #f2f6ff;
  --foreground: #1A1A1A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter';
}

.glass-effect {
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 140, 255, 0.2);
  backdrop-filter: blur(4px) saturate(150%);
  box-shadow: /* inset glow */    inset 0 0 15px rgba(0, 89, 255, 0.2),    inset 0 0 25px rgba(0, 60, 255, 0.15);
  border-radius: 25px;
}

